
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  color: #fff;
  background: #0b0f1a;
}


.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;


  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("images/solitare-img.webp") center/cover no-repeat;
}


.hero-content {
  max-width: 700px;
  padding: 1.5rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #e5e7eb;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn.primary {
  background: #22c55e;
  color: #032c16;
}

.btn.secondary {
  border: 2px solid #22c55e;
  color: #22c55e;
}

.btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}


@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
